{% extends 'base.html' %}
{% block content %}
<section class="container my-5">
    <div class="row">
        <div class="col-lg-12">
            <h2>About Us</h2>
            <p>Welcome to JustGolf – where a passion for coding meets a love for the fairways. Our story is a tale of a single developer who set out to create a golfing experience like no other.</p>
            <p>As an avid golfer and a tech enthusiast, the idea for JustGolf was born on the 18th hole of a beautiful golf course. Frustrated with the limitations of existing score-tracking apps, we decided to take matters into our own hands. We envisioned a digital caddy, a companion that golfers like us deserved – one that not only kept score but also celebrated the art and science of the game.</p>
            <h3>Our Passion</h3>
            <p>At JustGolf, we're on a mission to make your golfing experience more enjoyable and rewarding. Whether you're a seasoned pro or just getting started, our app is designed to enhance your game. We blend the precision of code with the precision of your swing, ensuring that you focus on the game while we take care of the numbers.</p>
            <h3>Our Commitment</h3>
            <p>JustGolf is a labor of love, meticulously crafted by a solo developer who's passionate about both golf and coding. We're committed to continuous improvement and innovation, ensuring that our app remains your trusted companion on the golf course.</p>
            <p>Join us in this exciting journey where technology meets the greens. Download JustGolf today and elevate your golfing experience to new heights.</p>
            <p>Fore! 🏌️‍♂️⛳</p>
        </div>
    </div>
</section>
{% endblock %}