{% extends "base.html" %}
{% block content %}
  <section class="container my-5">
    {% if user.is_staff %}
      <a class="btn btn-primary" href="{% url 'add-course' %}" role="button">Add Course</a>
    {% endif %}
    {% if courses %}
      <div class="row">
        <div class="col-lg-12">
          <h2>Courses</h2>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Eircode</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              {% for course in courses %}
                <tr>
                  <th scope="row">{{ course.name }}</th>
                  <td>{{ course.eircode }}</td>
                  <td>
                    <form method="post" action="{% url 'delete-course' course.id %}">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-danger">X</button>
                    </form>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    {% else %}
      <div class="alert alert-warning" role="alert">
        <strong>No Courses!</strong>
      </div>
    {% endif %}
  </section>
{% endblock content %}