{% extends 'base.html' %}
{% block content %}
<section class="container my-5">
    {% if user.is_staff %}
    <a class="btn btn-primary" href="add-course" role="button">Add Course</a>
    {% endif %}
    <div class="row">
        <div class="col-lg-12">
            <h2>Courses</h2>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Course Name</th>
                    <th scope="col">Eircode</th>
                  </tr>
                </thead>
                <tbody>
                    {% for course in courses %}
                    <tr>
                        <th scope="row">{{ course.id }}</th>
                        <td>{{ course.name }}</td>
                        <td>{{ course.eircode }}</td>
                      </tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
</section>
{% endblock %}